<div class="paginator-component" fxLayout="row" fxLayoutGap="15px">
    <div>
        <button mat-stroked-button [disabled]="currentpage === 1" (click)="setCurrentPage(currentpage-1)">
            Prev Page
        </button>
    </div>
    <div *ngFor="let page of pagesInView" fxLayout="row">
        <button mat-icon-button [color]="page === currentpage ? 'primary' : 'light'" (click)="setCurrentPage(page)">
            {{page}}
        </button>
    </div>
    <button color="primary" mat-stroked-button *ngIf="totalpages-3>=currentpage" (click)="setCurrentPage(totalpages)">
        {{totalpages}}
    </button>
    <!--<button color="primary" mat-stroked-button disabled>-->
        <!--{{currentpage}}/<sub>{{totalpages}}</sub>-->
    <!--</button>-->
    <div>
        <button mat-stroked-button [disabled]="currentpage === totalpages" (click)="setCurrentPage(currentpage+1)">
            Next Page
        </button>
    </div>
</div>