// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$custom-typography: mat-typography-config(
  $font-family: "Helvetica",
);
$mat-fresconprimary: (
  50: #fde4e4,
  100: #fbbcbc,
  200: #f88f8f,
  300: #f56262,
  400: #f24040,
  500: #f01e1e,
  600: #ee1a1a,
  700: #ec1616,
  800: #e91212,
  900: #e50a0a,
  A100: #ffffff,
  A200: #ffdbdb,
  A400: #ffa8a8,
  A700: #ff8f8f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
/* For use in src/lib/core/theming/_palette.scss */
$mat-fresconsecondary: (
  50: #f2f2f3,
  100: #dedee2,
  200: #c9c9ce,
  300: #b3b3ba,
  400: #a2a2ac,
  500: #92929d,
  600: #8a8a95,
  700: #7f7f8b,
  800: #757581,
  900: #63636f,
  A100: #e6e6fd,
  A200: #b7b7fa,
  A400: #7f7fff,
  A700: #6565ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$mat-fresconaccent: (
  50: #e6e6e6,
  100: #c1c1c1,
  200: #989898,
  300: #6f6f6f,
  400: #505050,
  500: #313131,
  600: #2c2c2c,
  700: #252525,
  800: #1f1f1f,
  900: #131313,
  A100: #ef6c6c,
  A200: #ea3e3e,
  A400: #f50000,
  A700: #db0000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
/* For use in src/lib/core/theming/_palette.scss */
$mat-fresconlight: (
  50: #f2f2f3,
  100: #dedee2,
  200: #c9c9ce,
  300: #b3b3ba,
  400: #a2a2ac,
  500: #92929d,
  600: #8a8a95,
  700: #7f7f8b,
  800: #757581,
  900: #63636f,
  A100: #e6e6fd,
  A200: #b7b7fa,
  A400: #7f7fff,
  A700: #6565ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$frescon-light: mat-palette($mat-fresconlight);
$frescon-primary: mat-palette($mat-fresconprimary);
$frescon-accent: mat-palette($mat-fresconaccent);
$frescon-secondary: mat-palette($mat-fresconsecondary);

// The warn palette is optional (defaults to red).
$frescon-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frescon-theme: mat-light-theme(
  (
    color: (
      primary: $frescon-primary,
      light: $frescon-light,
      accent: $frescon-accent,
      warn: $frescon-warn,
      secondary: $frescon-secondary,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($frescon-theme);
// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);
